* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    background-color: #c34242;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

#header h2 {
    color: white;
    font-weight: bolder;
}

#header button {
    padding: 8px 20px;
    background-color: aquamarine;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;
}

#header button:hover {
    background-color: rgb(29, 253, 179);
}

#header p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 15px solid #c34242;
    border-top: none;
    background-color: white;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid black;
    flex: 1;
}