* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid;
    flex: 1;
}